@media screen and (min-width: 601px) and (max-width: 1150px) {
    .article{
        width: 23.3vw;
        height: 40vh;
    }
    .banner,.footer{
        width: 98%;
    }
    .link>p{
        font-size: 0.7em;
    }
    .flex2{
        margin-left: 5px;
    }
    .article>p{
        font-size: 0.9em;
    }
    .banner>p{
        font-size: 0.95em;
    }
    .flex4,.flex5{
        flex-direction: row;
    }
}