body{
    margin: 0;
    font-family: "KoHo", sans-serif;
}
/*----------------- Page 1 ------------------- */
.page1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:url("image 4.png") ;
}
.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.img1{
    height: 392px;
    width: 35vw;
    margin-top: 0;
}
.box1{
    height: 392px;
    width: 35vw;
    background: #FAF9F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.butt1{
    width: 409px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "KoHo", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 84px;
    margin-top: 44px;
    padding: 0
}
.h1{
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "KoHo", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 53px;
    margin-bottom: 0;
    padding: 0;
}
.p1{
    color: #000;
    font-family: "KoHo", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 44px;
    padding: 0;
    margin-bottom: 0;
}
/*----------------- Page 2 ------------------- */
.page2{
    height: 100vh;
    width: 100vw;
    background-image:url("Rectangle 4.png") ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
iframe{
    width: 62%;
    height: 52%;
    flex-shrink: 0;
}
.p2{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 949px;
    height: 183px;
    flex-shrink: 0;
}
/*----------------- Page 3 ------------------- */
.page3{
    height: 100vh;
    width: 100vw;
    background-image:url("Rectangle 16.png") ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 700px;
    flex-shrink: 0;
    background: rgba(83, 83, 83, 0.40);
    flex-direction: column;
}
img{
    margin-top: 25px;
    width: 409px;
    height: 214px;
    flex-shrink: 0;
    padding: 0;
}
.h3{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 23px;
    padding: 0;
}
.p3{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 44px;
    padding: 0;
    margin-bottom: 0;
}
.price{
    width: 58px;
    height: 33px;
    flex-shrink: 0;
    margin-top: 62px;
    margin-bottom: 27px;
    padding: 0;
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.butt2{
    width: 409px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 104px;
    color: #6B6666;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}